#root {
    -fx-background-color: white;
}

#banner {
    -fx-background-color: #64DD17;
    -fx-effect: dropshadow(gaussian, darkgrey, 10, 0, 0, 0);
}

#side-bar {
    -fx-background-color: #68e21a;
}

#backContentPane {
    -fx-background-color: #fdfdfd;
    -fx-effect: dropshadow(gaussian, darkgrey, 12, 0, 0, 0);
}

#contentPane {
    -fx-background-color: #fdfdfd;
    -fx-background-color: #ffffff;
}

#sideBarCategoryPane {
    -fx-background-color: #61d219;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    -fx-effect: dropshadow(gaussian, #343434, 7, 0, 0, 0);
}

#sideBarButtonContainer {
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
}

#sideBarButtonContainer:hover {
    -fx-background-color: #5bc915;
}

#calendarPaneNode {
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, grey, 6, 0, 0, 0);
    -fx-padding: 10 10 10 10;
    -fx-border-radius: 3 3 3 3;
    -fx-background-radius: 3 3 3 3;
}

#calendarPaneNode:hover {
    -fx-background-color: #e8e8e8;
}

#scrollPane {
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, grey, 6, 0, 0, 0);
    -fx-padding: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}