#sideBarTitle {
    -fx-font-family: "Roboto";
    -fx-text-fill: #ffffff;
    -fx-font-size: 21px;
    -fx-padding: 2px 0 2px 10px;
}

#sideBarUser {
    -fx-font-family: "Roboto";
    -fx-text-fill: #ffffff;
    -fx-font-size: 24px;
}

#sideBarEmail {
    -fx-font-family: "Roboto Condensed";
    -fx-text-fill: #fcfcfc;
    -fx-font-size: 16px;
}

#calendarNode-BookingCount {
    -fx-font-family: "Roboto";
    -fx-text-fill: #61d219;
    -fx-font-size: 48px;
}

#calendarNode-BookingDay {
    -fx-font-family: "Roboto Condensed Bold";
    -fx-text-fill: #424242;
    -fx-font-size: 16px;
}

#calendarNode-BookingDate {
    -fx-font-family: "Roboto Condensed Bold";
    -fx-text-fill: #424242;
    -fx-font-size: 24px;
}

#confirmationLabel {
    -fx-font-family: "Roboto";
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-background-color: white, #61d219, #61d219;
    -fx-background-insets: 0 -2 -2 -2, 0 0 0 0, 0 -2 6 -2;
}

#promptLabel {
    -fx-font-family: "Roboto Condensed";
    -fx-text-fill: #fcfcfc;
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-text-alignment: center;
}

.text-field {
    -fx-font-family: "Roboto";
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-prompt-text-fill: #fdfdfd;
    -fx-background-color: white, #61d219, #61d219;
    -fx-background-insets: 0 -2 -2 -2, 0 0 0 0, 0 -2 6 -2;
}

.text-field:focused {
    -fx-background-color: white, #5bc915, #5bc915;
    -fx-background-insets: 0 -2 -2 -2, 0 0 0 0, 0 -2 6 -2;
    -fx-prompt-text-fill: #5bc915;
}

.text-area {
    -fx-font-family: "Roboto";
    -fx-font-size: 18px;
    -fx-background-color: white, #61d219, #61d219;
    -fx-background-insets: 0 -2 -2 -2, 0 0 0 0, 0 -2 6 -2;
}

.text-area .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}